.container {
    margin-left:5%;
    margin-right:5%
}

.myheader {
    display:inline-block;
    border-style:solid;
    border-radius:10px;
    border-width: 4px;
    border-color: black;
    text-align: left;
    width:200px;
    height:200px;
    padding:12px;
    background-color:rgb(255, 255, 255);
    margin-right:10px;
}

.myheader h1 {
    text-align:center;
}

.projects {
    display:inline-block;
    vertical-align:top;
}

.projectbox {
    border-radius:10px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    padding:12px;
    background-color:white;
}

body {
    font-family:sans-serif;
    background-color: rgb(206, 159, 217);
}