.myheader {
    display:inline-block;
    border-style:solid;
    border-radius:10px;
    border-width: 4px;
    border-color: black;
    text-align: left;
    margin-left: 200px;
    margin-top:30px;
    margin-right:20px;
    width:200px;
    height:200px;
    padding:12px;
}

.myheader h1 {
    text-align:center;
}


.projects {
    vertical-align:top;
    display:inline-block;
    margin-top:30px;
    margin-left:20px;
    height:500px;
}

.projectbox {
    border-radius:10px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    padding:12px;
}

body {
    font-family:sans-serif;
    margin-left: auto;
    margin-right: auto;
}